.gameStart{
    position:fixed;
    width:100vw;
    height:auto;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index:999;
    background-image:url('bg.gif');
    background-size: 100% 100%;
    background-color:black;
    font-size:70px;
    font-family: 'VT323', monospace;
    
}


.blinking{
    animation:blinkingText 1.2s infinite;
    z-index: 1000;
    font-size:50px;
    color:rgb(255, 255, 255);
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
        
    justify-content: center;
    align-items: center;
    text-align: center;
}
@keyframes blinkingText{
    0%{     color: rgb(255, 255, 255);    }
    49%{    color: rgb(255, 255, 255); }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: rgb(255, 255, 255);    }
}





.bg{
    border: rgb(0,0,0) solid 10px;
    /* background-color:repeating-linear-gradient(40deg,rgb(230, 140, 255), white 50px, rgb(230, 140, 255) 300px, white 40px); */
    background-image:url('bgforgame.gif');
    background-size: 100% 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin:10px;
  
}


body{
    background-color: hsla(272,59%,47%,0.3);
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    border: hsla(0,0%,0%) solid 10px;
    box-sizing: border-box;
}

.theheader{
    background:transparent;
    text-align:center;
    position:sticky;
    top:0px;
    color:rgb(255,255,255);
    width:100vw;
    font-family: 'VT323', monospace;
    font-size:50px;
    height:50px;
    justify-content: center;

}

.container{
    text-align: center;
    justify-content: center;
    margin-top:10px;
    margin-bottom:10px;
}

#canvas{
    border: rgb(0,0,0) solid 10px;
    display:none;
}

.controlpanel{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}
.controlsd{
    display:block;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    color:white;
    background-color: hsla(272,59%,47%,0.8);
    border:rgb(0, 0, 0) solid;
    width:300px;
    height:70px;
    font-family: 'VT323', monospace;
    font-size:25px;
}

.button{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    color:white;
    background-color: hsla(272,59%,47%,0.8);
    border:rgb(0, 0, 0) solid;
    width:200px;
    height:70px;
    font-family: 'VT323', monospace;
    font-size:25px;
    margin-top:5px;
    margin-bottom:5px;
}


.button:hover{
    display:flex;
    right:0;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    color:rgb(0, 0, 0);
    background-color: rgb(230, 140, 255);
    border:rgb(0, 0, 0) solid;
    width:200px;
    height:70px;
}

.thesliderrange{
    display:block;
    right:0;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    color:white;
    background-color: hsla(272,59%,47%,0.8);
    border:rgb(0, 0, 0) solid;
    width:200px;
    height:100px;
    font-family: 'VT323', monospace;
    font-size:25px;
}

.keyboard{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    color:white;
    background-color: hsla(272,59%,47%,0.8);
    border:rgb(0, 0, 0) solid;
    width:80px;
    height:70px;
    font-family: 'VT323', monospace;
    font-size:25px;
    margin-top:5px;
    margin-bottom:5px;
}


.keyboardMode {
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    color:white;
    background-color: hsla(272,59%,47%,0.8);
    border:rgb(0, 0, 0) 2px solid;
    width:200px;
    height:70px;
    font-family: 'VT323', monospace;
    font-size:25px;
    margin-top:5px;
    margin-bottom:5px;
}


